.intro-start, .intro-para, .education-schools, .education-heading, .skills-heading {
    text-align: center;
}

.intro-name, .intro-para, .education-heading, .skills-heading {
    font-family: 'Baloo Tammudu 2', cursive;
}

.intro-heading {
    font-family: 'Source Code Pro', monospace;
}

.my-img {
    border-radius: 40px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 20px;
}

.education-img {
    border-radius: 10px;
    margin: 0 40px 0 40px;
}

table {
    justify-content: center;
}
.carousel-area {
    background-color: #0A1931;
    text-align: center;
    width: 1000px;
    height: 300px;
}

td {
    color: white;
}

.skills-img {
    margin: 30px 80px 10px 70px;
}