#root {
    background-color: #005792;
    color: white;
}

.intro-start, .intro-para, .education-schools, .education-heading, .skills-heading {
    text-align: center;
}

.intro-name, .intro-para, .education-heading, .skills-heading {
    font-family: 'Baloo Tammudu 2', cursive;
}

.intro-heading {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 30px;
    padding-top: 20px;
}

.intro-name {
    margin: 50px 0 20px 0;
}

.intro-title {
    margin: 20px 0 20px 0;
} 

.education-heading, .skills-heading {
    margin: 40px 0 20px 0;
}

.my-img {
    border-radius: 40px;
    box-shadow: 5px 5px 5px #FFF5AB;
    margin-bottom: 20px;
}

.education-img {
    border-radius: 10px;
    margin: 0 40px 0 40px;
}

table {
    justify-content: center;
}
.carousel-area {
    background-color: #0A1931;
    text-align: center;
    width: 1013px;
    height: 300px;
}

td {
    color: white;
}

.skills-img {
    margin: 30px 80px 10px 70px;
}